@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");


:root{
    --nav-color: #151414;
    --hover-color: blueviolet;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


body{
    font-family: 'Poppins', sans-serif;
}

.section{
    height: 100vh;
}

header{
    width: 100%;
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    /* padding: 0.5rem 0px; */
    align-items: center;
    position: fixed;
    z-index: 100;
    /* background-color: blueviolet; */
    height: 10vh;
}

.logo{
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.header__logo{
    color: white;
    font-weight: 600;
}

.nav__list{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* border: 2px solid white; */
    width: 450px;
    margin-right: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* .nav-item{
    margin: 0 10px;
    background-color: aqua;
} */

.nav__link{
    padding: 5px 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: 0.6s;
}

.nav__list .nav__link:hover{
    /* background-color: var(--hover-color); */
    /* color: black; */
    /* background-color: rgb(71, 21, 117); */
    transition: 1s;
    /* font-size: 1rem; */
    color: blue;
    padding-bottom: 10px;
   
    border-bottom: 4px solid blue;
    /* animation: hoverhohai 0.1s linear infinite; */
    
}

/* @keyframes hoverhohai{
    100%{
        border-bottom: 3px solid blue;
    }
} */


.header__toggler, .header__close{
    display: none;
}

/* particle js */

#particles-js{
    background-color: var(--nav-color);
    /* height: 93.3vh; */
    height: 58.3vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* particle js closed */

.same-cont{
    position:absolute;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 450px;
    /* border: 2px solid white; */
    background: none;
    border-radius:10px ;
    box-sizing: border-box;
    /* height: 100vh; */
    /* background: rgba(53, 53, 53, 0.1); */
    /* background: none; */
}

.main-dp img{
    /* position: absolute; */
    position: relative;
    /* top: 25%; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 0 20px 0;
    background-color: white;
    padding: 5px;
    transition: 0.7s;
}

.main-dp img:hover{
    height: 250px;
    width: 250px;
    padding: 7px;
}

.contents{
    color: white;
    flex-direction: column;
    /* margin-top: 15vh; */
}

.contents h1{
    font-size: 3rem;
    font-weight: 600;
    text-decoration: wavy;
    text-transform: capitalize;
    -webkit-text-stroke: 1px blue;
    /* color: transparent; */
    /* background-color: blue; */

}

.contents p{
    margin-top: 4px ;
    font-size: 0.8rem;
    /* color: crimson; */
    font-weight: 600;
    /* background-color: blueviolet ; */

}

.contents .logo-container {
    margin:15px;
    font-size: 1.3rem;
}

.contents .logo-container .fa-brands{
    /* padding: 0 10px; */
    color: white;
    padding: 18px;
    /* background-color: aqua; */
    height: 55px;
    transition: 0.6s;
}

.contents .logo-container .fa-brands:hover{
    
    /* background-color: var(--hover-color); */
    /* border-radius: 50%; */
    color: blue;
    border-bottom: 4px solid blue;
    
}

.aboutme{
    background-color: blueviolet;
}

.skills{
    background-color: green;
}

.contactme{
    background-color: blue;
}


footer{
    height: 15vh;
    background-color: var(--nav-color);
    background-color: blueviolet;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}
h3{
    padding: 2vh;
    text-transform: capitalize;
}


@media  screen and (max-width:768px) {
    header{
        /* height: 48px; */
        justify-content: space-between;
        padding: 0 28px;
        padding: 0 5vh;
    }

    .logo a{
        font-size: 0.9rem;
    }

    .logo img{
        width: 30px;
        height: 30px;
    }

    .header__toggler{
        display: inline;
        color: white;
        font-size: 2.2rem;
    }

    .header__close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 2rem;
        border-radius: 50%;
    }

    .header__close:hover{
        background-color: var(--hover-color) ;
    }

    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--nav-color);
        color: white;
        width: 50%;
        height: 100vh;
        padding: 15px 0;
        z-index: 100;
        transition: 0.5s;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        /* border: 2px solid white; */
        height: 100vh;
        width: 100%;
    }

    .nav-item{
        margin: 3rem 0;
        text-align: center;
        transition: 0.5s;
    }

    .show{
        right: 0;
    }

}


